<p id="notice"><%= notice %></p>

<p>
  <strong>Color:</strong>
  <%= @questionnaire.@quest_beer.color %>
</p>

<p>
  <strong>Price:</strong>
  <%= @quest_beer.price %>
</p>

<p>
  <strong>Design:</strong>
  <%= @quest_beer.design %>
</p>

<p>
  <strong>Average:</strong>
  <%= @quest_beer.average %>
</p>

<td><%= link_to 'Edit', edit_quest_beer_path(@quest_beer) %></td>
<td><%= link_to 'Back', quest_beers_path %></td>