<%= simple_form_for(@questionnaire) do |f| %>
  <% if @questionnaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questionnaire.errors.count, "error") %> prohibited this questionnaire from being saved:</h2>

      <ul>
      <% @questionnaire.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :age, label: "Wiek" %>
  <%= f.association :sex, label: "Płeć", as: :radio_buttons, label_method: :name %>
  <%= f.input :city, label: "Miasto" %>
  <%= f.association :education, label: "Wykształcenie", as: :radio_buttons, label_method: :name %>

  <%= f.simple_fields_for :ratings do |r| %>
    <%= r.input :beer_id, as: :hidden %>
    <h3><%= r.object.beer.try(:brand).try(:name) %> <%= r.object.beer.try(:name) %></h3>

    <%= r.input :taste %>
    <%= r.input :color %>
    <%= r.input :price %>
    <%= r.input :design %>

  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
