<h1>Ankiety</h1>

<table>
  <thead>
    <tr>
      <th>Wiek</th>
      <th>Płeć</th>
      <th>Miasto</th>
      <th>Wykształcenie</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questionnaires.each do |questionnaire| %>
      <tr>
        <td><%= questionnaire.age %></td>
        <td><%= questionnaire.sex.try(:name) %></td>
        <td><%= questionnaire.city %></td>
        <td><%= questionnaire.education.try(:name) %></td>
        <td><%= link_to 'Show', questionnaire %></td>
        <td><%= link_to 'Edit', edit_questionnaire_path(questionnaire) %></td>

        <td><%= link_to 'Destroy', questionnaire, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'Nowa ankieta', new_questionnaire_path %></p>
