<div class="row">
<h3>Wyniki Twojej ankiety</h3>

<p>
  <strong>Wiek:</strong>
  <%= @questionnaire.age %>
</p>

<p>
  <strong>Płeć:</strong>
  <%= @questionnaire.sex.try(:name) %>
</p>

<p>
  <strong>Miasto:</strong>
  <%= @questionnaire.city %>
</p>

<p>
  <strong>Wykształcenie:</strong>
  <%= @questionnaire.education.try(:name) %>
</p>

<% @questionnaire.ratings.each do |rating| %>
<div class="col-xs-6 wyniki">
<div class="dane-piwa"><h3><%= rating.beer.try(:brand).try(:name)%>  <%= rating.beer.try(:name) %></h3></div>
<div class="oceny"
<ul>
    <li class="wynik1">Smak: <%= rating.taste %></li>
    <li class="wynik">Kolor: <%= rating.color %></li>
    <li class="wynik">Cena: <%= rating.price %></li>
    <li class="wynik">Design: <%= rating.design %></li>
    <li class="wynik2">Srednia: <%= rating.average %></li>
</ul>
</div>
</div><% end %>
</div>

<div class="row btn-group">
<%= button_to "Edytuj",edit_questionnaire_path(@questionnaire), :class => "btn btn-info" ,:type => 'button'%>
<%= button_to "Zakończ", root_path , :class => "btn btn-danger zakoncz", :type => 'button', :method => :get %>
</div> 