<h1>Listing beers</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Brand</th>
      <th>Kind</th>
      <th>Sort</th>
      <th>Processing</th>
      <th>Region</th>
      <th>Cost</th>
      </tr>
  </thead>

  <tbody>

    <% @beers.each do |beer| %>
      <tr>
        <td><%= beer.id %></td>
        <td><%= beer.name %></td>
        <td><%= beer.brand.name %></td>
        <td><%= beer.kind.name %></td>
        <td><%= beer.sort.name %></td>
        <td><%= beer.processing.name %></td>
        <td><%= beer.region.name %></td>
        <td><%= beer.cost.name %></td>
        <td><%= link_to 'Show', beer %></td>
     
        <td><%= link_to 'Edit', edit_beer_path(beer) %></td>
        <td><%= link_to 'Destroy', beer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beer', new_beer_path %>
