<!DOCTYPE html>
<html>
<head>
  <title>BeerApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="root">

        <h1 class="site-title">Piwo</h1>
        <nav class="primary-nav">
            <h2>Nawigacja</h2>
            <ul>
                <li><%= link_to "Ankiety", :questionnaires %></li>
                <li><%= link_to "Piwa", :beers %></li>
            </ul>
        </nav>

        <%= yield %>
    </div>
</body>
</html>
